<div class="top_navbar shadow-sm">
    <div class="hamburger ">
        <div class="hamburger__inner">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>

    </div>
    <div class="menu">
        <div class="logo">
            User Manajement System
        </div>
        <div class="right_menu">
            <ul>
                <li>
                    <div id="profileImageTopNav" class="nav-link data-toggle p-0" href="#" data-bs-toggle="dropdown" aria-expanded="false"></div>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#" data-link="/home/index">Dashboard</a>
                        <a class="dropdown-item" href="#" data-link="/user/profile">Profile</a>
                        <a class="dropdown-item" href="#" data-link="/Auth/logout">Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>