<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">401</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> UnAuthorized</p>
        <p class="lead">
            Please go back to login page.
        </p>
        <a href="/Auth/Logout" class="btn btn-primary">Logout</a>
    </div>
</div>