@{
    Layout = null;
}
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var token = @HttpContextAccessor.HttpContext.Session.GetString("Token");
    if (token != null)
    {
        Context.Response.Redirect("/home");
    }
    //

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./lib/bootstrap5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>
<body>
    <section class="vh-100">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <div class="card border border-0">
                        <!-- Pills navs -->
                        <ul class="nav nav-pills nav-justified mb-3 opacity-75" id="ex1" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active " id="tab-login" data-bs-toggle="pill" data-bs-target="#pills-login" type="button" role="tab"
                                   aria-controls="pills-login" aria-selected="true">Login</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a id="RegisterNav" class="nav-link" id="tab-register" data-bs-toggle="pill" data-bs-target="#pills-register" type="button" role="tab"
                                   aria-controls="pills-register" aria-selected="false">Register</a>
                            </li>
                        </ul>
                        <!-- Pills navs -->
                        <!-- Pills content -->
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                                <form id="LoginUser" method="POST" action="javascript:void(0);">
                                    <!-- username input -->
                                    <div class="form-outline mb-4">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder="Username" aria-label="Username" name="Username" aria-describedby="UserIcon" required />
                                            <span class="input-group-text" id="UserIcon"><i class="fas fa-solid fa-user"></i></span>
                                        </div>
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Please fill out this field.</div>
                                    </div>

                                    <!-- Password input -->
                                    <div class="form-outline mb-4">
                                        <div class="input-group mb-3">
                                            <input type="password" class="form-control" placeholder="Password" aria-label="Password" name="Password" aria-describedby="PassIcon" required />
                                            <span class="input-group-text" id="UserIcon"><i class="fas fa-solid fa-key"></i></span>
                                        </div>
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Please fill out this field.</div>
                                    </div>
                                    <div class="d-grid gap-2">
                                        <!-- Submit button -->
                                        <button type="submit" class="btn btn-primary mb-4 opacity-75">Sign in</button>
                                    </div>

                                </form>
                            </div>
                            <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
                                <form id="RegisterUser" method="POST" action="javascript:void(0);">
                                    <div class="text-center mb-3">
                                        <div class="form-outline mb-4">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" placeholder="NAMA_USER" aria-label="NAMA_USER" name="NAMA_USER" required />
                                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                                            </div>
                                            <div class="invalid-feedback">Please fill out this field.</div>
                                        </div>
                                        <div class="form-outline mb-4">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" placeholder="Email" aria-label="Email" name="EMAIL" required />
                                                <span class="input-group-text"><i class="fas fa-at"></i></span>
                                            </div>
                                            <div class="invalid-feedback">Please fill out this field.</div>
                                        </div>
                                        <!-- username input -->
                                        <div class="form-outline mb-4">
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" placeholder="USERNAME" aria-label="USERNAME" name="USERNAME" aria-describedby="UserIcon" required />
                                                <span class="input-group-text" id="UserIcon"><i class="fas fa-solid fa-user"></i></span>
                                            </div>
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Please fill out this field.</div>
                                        </div>

                                        <!-- Password input -->
                                        <div class="form-outline mb-4">
                                            <div class="input-group mb-3">
                                                <input type="password" class="form-control" placeholder="PASSWORD" aria-label="PASSWORD" name="PASSWORD" aria-describedby="PassIcon" required />
                                                <span class="input-group-text" id="UserIcon"><i class="fas fa-solid fa-key"></i></span>
                                            </div>
                                            <div class="valid-feedback">Valid.</div>
                                            <div class="invalid-feedback">Please fill out this field.</div>
                                        </div>

                                        <div class="d-grid gap-2">
                                            <button type="submit" class="btn btn-primary btn-block mb-3 opacity-75">Sign Up</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Pills content -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="loader" class="lds-dual-ring hidden overlay"></div>
    <script src="./lib/jquery/dist/jquery.min.js"></script>
    <script src="./lib/bootstrap5/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="./js/login.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>
</body>
</html>